.featuredImage {
  border: 1px solid black !important;
  object-fit: contain !important;
  width: 100% !important;
}
.container {
  min-height: 80vh;
  width: 85%;
  margin: auto;
}
.otherImages {
  max-height: 40vh;
  display: flex !important;
  width: 100%;
  justify-content: space-between !important;
}

.otherImageTile {
  margin: 5px;
}
.featuredImageTile {
  width: 100% !important;
}
.inlineList {
  display: flex;
  /* background-color: brown; */
  justify-content: space-between !important;
}

.inlineCenter {
  display: flex;
  justify-content: space-evenly !important;
  /* padding: 2vmin; */
}
