.container {
  min-height: 80vh;
  /* width: 75%; */
  /* margin: auto; */
}

.box {
  /* background-color: lightsalmon; */
  margin: 25px;
}

.boxButton {
  /* background-color: lightseagreen !important; */
  text-align: center !important;
}

.layout {
  padding: 4vmin;
  min-height: 80vh !important;
  width: 100%;
  /* background-color: lightskyblue !important; */
}
.table {
  min-height: 100% !important;
}
.createModal {
  position: absolute;
  /* top: 100%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  width: 90%;
  padding: 2vmin !important;
  background-color: white;
  overflow-y: scroll !important;
}
.createModalTitle {
  text-align: center !important;
}
.logo_image {
  object-fit: contain;
}
.modal {
  max-height: 90vh;
  /* max-width: 90vw; */
  overflow-y: scroll;
  margin: auto;
  display: flex;
  justify-content: center;
}
.newOrdersCard {
  padding: 2vmax;
  height: 50vh;
  overflow-y: auto !important;
}
.newOrdersCount {
  /* background-color: antiquewhite; */
  width: fit-content;
  margin: auto;
  color: #ca222a;
  text-align: center;
}
