.container {
  min-height: 80vh;
  width: 75%;
  margin: auto;
}

.form {
  max-width: 800px;
  margin: auto;
  /* background-color: red; */
}
.btn {
  color: white !important;
  /* width: 20vmin !important; */
  text-align: center;
  margin: auto !important;
  border-radius: 10px !important;
  background-color: #ca222a !important;
  font-size: 18px !important;
}
.btnBack {
  /* box-shadow: 1px 1px 10px black !important; */
  background-color: white !important;
  /* width: 20vmin !important; */
  text-align: center;
  margin: auto !important;
  border-radius: 10px !important;
  color: #ca222a !important;
  font-size: 18px !important;
  /* box-shadow: 1px 1px 10px black !important; */
}
.btnRow {
  display: flex;
  justify-content: center;
  /* background-color: yellow; */
  width: 50%;
  margin: auto;
}
