.container {
  /* min-height: 80vh; */
  width: 75%;
  margin: auto;
}
.reviews_base {
  background-color: #ca222a;
  padding: 3%;
  margin-top: -2%;
}
.reviews {
  margin: auto;
  color: white !important;
  width: 75%;
}
.productInfo {
  display: flex;
  /* background-color: azure; */
  flex-direction: column;
  /* justify-content: space-around; */
}
.relatedItems {
  background-color: white;
  padding: 3%;
  margin-top: -2%;
}
.description {
  white-space: pre-line !important;
}
.relatedCarousel {
  width: 90% !important;
  /* background-color: cadetblue; */
  margin: auto !important;
}
.reviewInput {
  background-color: white !important;
  padding: 2vmin;
  margin: 2vmin;
  color: #ca222a !important;
  border-radius: 10px;
}
.thumbnail {
  background-color: white;
  border: 1px solid black !important;
  transition: all ease-in-out 0.2s;
  object-fit: contain !important;
}
.thumbnail:hover {
  transform: scale(1.05);
}
.thumbBtn {
  /* background-color: yellow; */
  border-radius: 10px !important;
}
.reccomendation {
  /* background-color: tomato; */
  text-align: center;
}
.hrReview {
  background-color: #ca222a;
  border: none !important;
  height: 2px !important;
}
.button {
  background-color: #ca222a !important;
  border-radius: 10px !important;
  color: white !important;
  font-size: 18px !important;
}
.reviewBtn {
  background-color: white !important;
  border-radius: 10px !important;
  color: #ca222a !important;
  font-size: 22px !important;
}
.root {
  background-color: white !important;
}
.laiAQh {
  /* background-color: aqua !important; */
  object-fit: contain !important;
}
.imagesRow {
  background-color: chartreuse !important;
  padding: 2vmin !important;
}
.product_image {
  margin: auto !important;
  /* background-color: chartreuse; */
  /* width: 100%; */
  object-fit: contain !important;
  transition: all ease-in-out 0.2s;
}
.product_image_mob {
  object-fit: contain !important;
  padding: 1vmin !important;
  transition: all ease-in-out 0.2s;
}
.product_image:hover {
  transform: scale(1.1);
}
.product_images {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}
.product_images_base {
  height: 100%;
  /* background-color: chartreuse; */
}
.featuredImage {
  /* background-color: aqua !important; */
  /* height: 100%; */
  padding: 1vmax !important;
  animation: fadeIn 1s !important;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.ourBrands__header {
  display: flex;
  justify-content: space-evenly;
  height: 100% !important;
  width: 70%;
  margin: auto;
}
.hr__base {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hor {
  border-top: 3px solid #ca222a !important;
  border-radius: 0px;
}
.wishlist_icon {
  animation: fadeIn 0.5s;
}
.product_images_inline {
  display: flex;
  justify-content: space-between;
  height: 10vh;
}
.authHeader {
  color: black;
  text-transform: capitalize;
  font-weight: bold !important;
  margin-left: 1.5vmin !important;
  font-size: 15px !important;
}
.inlineList {
  color: #ca222a;
  display: flex;
}
.lineThrough {
  font-weight: 300;

  text-decoration: line-through #ca222a;
}
.infoDiv {
  /* background-color: blue; */
}
.burnedInfo {
  /* border-left: 2px solid #ca222a !important; */
  padding: 1vmin !important;
  /* background-color: violet; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.priceInfo {
  /* background-color: antiquewhite; */
  /* display: flex; */
  /* width: 40%; */
  margin-left: auto !important;
  /* justify-content: right; */
}
.infoBalls {
  display: flex;
  justify-content: flex-start !important;
}
.infoBall {
  /* background-color: aqua; */
  width: 50%;
  text-transform: capitalize !important;
}
.infoBase {
  /* background-color: aqua; */
  width: 85% !important;
  margin: auto !important;
  /* max-height: 55vh !important; */
}
.infoLeft {
  display: flex;
  padding: 2vmin !important;
  /* background-color: blueviolet; */
  /* height: 100% !important; */
}
.infoRight {
  /* background-color: burlywood; */
  padding: 1vmin !important;
  /* height: 55vh !important; */
  /* height: 100% !important; */
}
.nameBrandBar {
  /* background-color: aqua; */
  width: 100%;
  padding: 1vmin;
  display: flex;
  justify-content: space-between;
}
.brandLogo {
  object-fit: contain;
}
.infoName {
  /* background-color: cornsilk; */
  color: #ca222a !important;
  text-transform: capitalize;
  text-decoration: none !important;
  font-size: 33px !important;
}
@media (max-width: 600px) {
  .infoName {
    font-size: 24px !important;
  }
}
.prodInfoBase {
  /* height: 100%; */
  /* background-color: yellow; */
}
.prodDetails {
  height: 100% !important;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: space-between; */
  /* background-color: blueviolet; */
  /* border-left: 2px solid #ca222a; */
  /* padding: 1.5vmin !important; */
}
.prodBalls {
  /* background-color: thistle; */
  padding: 0.5vmin !important;
  display: flex;
  justify-content: space-evenly;
}
.priceInfo {
  /* background-color: turquoise; */
}
.modalRoot {
  border: none !important;
  background-color: white;
  margin: auto !important;
  text-align: center;
  width: 70%;
}
.modalImage {
  object-fit: contain !important;
  margin: auto !important;
  /* width: 100vw !important; */
}
.modalBase {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.modalOtherImages {
  /* background-color: brown; */
  border-top: 1px solid #ca222a;
  display: flex;
  justify-content: space-evenly;
  width: 70%;
  margin: auto !important;
}
.modalOtherImage {
  object-fit: contain;
}

.carouselIndexTitle {
  /* background-color: teal; */
  max-width: 200px !important;
}
