.container {
  min-height: 80vh;
  width: 75%;
  margin: auto;
}
.reviews_base {
  background-color: #ca222a;
  padding: 3%;
  margin-top: -2%;
}
.reviews {
  margin: auto;
  color: white !important;
  width: 75%;
}
.productInfo {
  /* padding: 1% !important; */
  /* background-color: lightpink; */

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.relatedItems {
  background-color: white;
  /* background-color: #ca222a; */
  padding: 3%;
  margin-top: -2%;
}

.relatedCarousel {
  width: 85% !important;
  margin: auto !important;
}

.review {
  background-color: whitesmoke;
  padding: 2vmin;
  margin: 2vmin;
  color: black !important;
  border-radius: 10px;
}
.thumbnail {
  background-color: white;
  border: 1px solid black !important;
  /* border-radius: 5%; */
  transition: all ease-in-out 0.2s;
  object-fit: contain !important;
}
.thumbnail:hover {
  transform: scale(1.05);
}
.thumbBtn {
  background-color: yellow;
  border-radius: 10px !important;
}
.hrReview {
  background-color: #ca222a;
  border: none !important;
  height: 2px !important;
}
.button {
  background-color: #ca222a !important;
  /* width: 20vmin !important; */
  border-radius: 10px !important;
  color: white !important;
  font-size: 22px !important;
  /* box-shadow: 1px 1px 10px black !important; */
}
.reviewBtn {
  background-color: white !important;
  /* width: 20vmin !important; */
  border-radius: 10px !important;
  color: #ca222a !important;
  font-size: 22px !important;
  /* box-shadow: 1px 1px 10px black !important; */
}
.root {
  background-color: white !important;
}
.laiAQh {
  background-color: aqua !important;
  object-fit: contain !important;
}
.product_image {
  object-fit: contain !important;
  /* border: 1px solid black !important; */
  transition: all ease-in-out 0.2s;
}
.product_image_mob {
  object-fit: contain !important;
  padding: 1vmin !important;
  /* border: 1px solid black !important; */
  transition: all ease-in-out 0.2s;
}
.product_image:hover {
  transform: scale(1.1);
}
.product_images {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* background-color: saddlebrown; */
  height: 100%;
}
.product_images_base {
  /* background-color: yellow; */
  height: 100%;
}
.featuredImage {
  /* border: 1px solid black !important; */
  animation: fadeIn 1s !important;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.ourBrands__header {
  display: flex;
  justify-content: space-evenly;
  height: 100% !important;
  width: 70%;
  margin: auto;
}
.hr__base {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hor {
  border-top: 3px solid #ca222a !important;
  border-radius: 0px;
}
.wishlist_icon {
  animation: fadeIn 0.5s;
}
.product_images_inline {
  /* background-color: tomato; */
  display: flex;
  justify-content: space-between;
  height: 10vh;
}
.authHeader {
  color: #ca222a;
  text-transform: capitalize;
  font-weight: bolder !important;
  margin-left: 1.5vmin !important;
  /* font-size: sm; */
  font-size: 20px !important;
}
.inlineList {
  color: #ca222a;
  display: flex;
}
