.root {
  min-height: 100vh;
}
.container {
  min-height: 80vh;
  width: 75%;
  margin: auto;
}
.lineThrough {
  text-decoration: line-through #ca222a;
}
.genderBalls {
  /* background-color: aqua; */
  display: flex;
  justify-content: space-evenly;
  height: 35vh !important;
}
.genderBallsMob {
  /* display: flex; */
  text-align: center !important;
  /* justify-content: space-evenly; */
  /* height: 35vh !important; */
}
.ballBlock {
  transition: all ease-in-out 0.2s;
}
.ballBlockMob {
  display: flex;
  justify-content: space-evenly;
  transition: all ease-in-out 0.2s;
  margin: 2vmin !important;
  height: 9vh;
}
.ballBlock:hover {
  transform: scale(1.1);
  /* background-color: aqua; */
}
.genderBall {
  background-color: white;
  width: 35vh;
  height: 100%;
  border-radius: 50%;
  box-shadow: none;
  transition: ease-in-out all 0.2s;
  box-shadow: 0px 0px 1px 2px #ca222a !important;
}
.genderBallMob {
  background-color: white;
  width: 8vh;
  height: 8vh;
  border-radius: 50%;
  box-shadow: none;
  transition: ease-in-out all 0.2s;
  box-shadow: 0px 0px 1px 2px #ca222a !important;
}
.genderBall:hover {
  box-shadow: 0px 0px 1px 4px #ca222a !important;
}
.genderBall:hover .ballTitle {
  display: block !important;
}

.ballCaption {
  /* background-color: #ca222a; */
  height: 100%;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.ballTitleMob {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ca222a;
  text-align: center;
}
.ballTitle {
  color: #ca222a;
  z-index: 50 !important;
  filter: brightness(100%) !important;
  text-align: center;
  transition: all ease-in-out 0.2s;
}
.filterBar {
  background-color: #e6e7e8;
  padding: 1vmin !important;
  border-radius: 10px;
  /* min-height: 60vh !important; */
}
.filterBarMob {
  background-color: transparent;
  padding: 1vmin !important;
  border-radius: 10px;
  /* min-height: 60vh !important; */
}

.brandsCarousel {
  background-color: #e6e7e8;
  padding: 1%;
  margin-top: 2%;
}
.slider {
  color: #ca222a !important;
  /* background-color: aqua; */
  margin-top: auto !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sliderContainer {
  /* background-color: yellow; */
}
.productPane {
  padding-left: 3vmin !important;
  padding-right: 3vmin !important;
  height: 100vh;
  overflow-y: scroll;
}
.brands {
  width: 75% !important;
  margin: auto !important;
}

.filterAccordion {
  background-color: transparent !important;
  box-shadow: none !important;
  width: 100%;
}
.filterAccordionName {
  border-bottom: 1px solid #ca222a !important;
}
.cardAction {
  display: flex;
  justify-content: space-evenly;
}
.banner {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.card {
  /* background-color: red !important; */
  min-height: 300px;
  object-fit: contain !important;
  transition: all ease-in-out 0.2s;
  /* text-decoration: none !important; */
}
.card:hover {
  transform: scale(1.1);
}
.button {
  color: white !important;
  /* width: 20vmin !important; */
  margin: auto !important;
  border-radius: 10px !important;
  background-color: #ca222a !important;
  font-size: 16px !important;
  /* box-shadow: 1px 1px 10px black !important; */
}

.block {
  background-color: white;
  width: 35vh;
  height: 100%;
  border-radius: 50%;
  box-shadow: none;
  transition: ease-in-out all 0.2s;
  position: relative;
  /* width: 35vh; */
  margin: 3vmin;
  transition: all 0.2s ease-in-out;
}

.block:after {
  content: '';
  display: block;
  padding-bottom: 100%;
}
.block__bg {
  background-color: #ca222a;
  height: 99%;
  width: 99%;
  transition: all 0.2s ease-in-out;
  position: absolute;
}
.block_caption {
  height: 99%;
  width: 99%;
  transition: all 0.2s ease-in-out;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 1 !important;
}
.block_title {
  text-align: center;
  color: #ca222a;
  z-index: 5;
  font-size: 50px !important;
  padding: 2vmin;
  text-decoration: none !important;
  transition: ease-in-out all 0.2s;
  text-shadow: 1px 1px 1px black;
}

@media (max-width: 950px) {
  .block_title {
    font-size: 30px !important;
  }
}
@media (max-width: 600px) {
  .block_title {
    font-size: 20px !important;
  }
}
.block:hover .block__img {
  filter: brightness(5%);
  box-shadow: 0px 0px 1px 5px #ca222a !important;
}
.block:hover .block_title {
  color: white !important;
}
.block__img {
  position: absolute;
  width: 100%;
  box-shadow: none;

  height: 100%;
  border-radius: 50%;
  display: block;
  transition: all 0.2s ease-in-out;
  filter: brightness(100%);
}
