.button {
  background-color: white !important;
  /* width: 20vmin !important; */
  border-radius: 10px !important;
  color: #ca222a !important;
  font-size: 22px !important;
  /* box-shadow: 1px 1px 10px black !important; */
}
