.nav {
  box-shadow: none !important;
  background-color: #ca222a !important;
  width: 100%;
  padding: 1rem;
}
.container {
  background-color: darkred !important;
  width: 100%;
  padding: 1rem;
}
.toolbar {
  width: 85%;
  margin: auto;
  display: flex !important;
  color: white !important;
  justify-content: space-between !important;
}
.toolbarMob {
  width: 95%;
  margin: auto;
  display: flex !important;
  color: white !important;
  justify-content: space-between !important;
}
.shopBtn {
  background-color: #ca222a !important;
  height: 70px;
  width: 70px;
  font-size: 10px !important;
  border-radius: 100% !important;
  transform: scale(2.5);
  border: 1px white solid !important;
  z-index: 10;
}
